@import "tailwindcss";
@tailwind utilities;

.font-montserrat-regular {
  font-family: var(--font-montserrat-regular), sans-serif !important;
}

.font-montserrat-medium {
  font-family: var(--font-montserrat-medium), sans-serif !important;
}

.font-avenir-book {
  font-family: var(--font-avenir-book), sans-serif !important;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--color-foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
}